body {
  font-family: 'Roboto', sans-serif;
  background-color: 		#1E1E1E ; /* fondo gris claro */
  color:aliceblue;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-personalizado {
  background-color: #1E1E1E; /* azul oscuro */
  position: relative;
  z-index: 1;
}
.nav-links a:hover {
  text-decoration: underline;
}
.neon-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #15ffc4;
  box-shadow: 0 0 10px #15ffc4;
}
#albumesContainer {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  gap: 20px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.album-card {
  min-width: 180px;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: rgba(255, 255, 255, 0.1); /* fondo blanco con opacidad */
  border: none;
  color: aliceblue;
}

.album-card:hover {
  transform: scale(1.05);
}

.album-card img {
  height: 200px;
  object-fit: cover;
}

/* Oculta scrollbar horizontal */
#albumesContainer::-webkit-scrollbar {
  display: none;
}

/* Estilo para el header del modal */
.modal-header {
  background-color: #1E1E1E;
  color: aliceblue;
  border-bottom: none;
}

.modal-header .modal-title {
  color: aliceblue;
}

.modal-header .btn-close {
  filter: invert(1);
}
.card {
  background-color: rgba(255, 255, 255, 0.1); /* blanco con 10% de opacidad */
  border: none; /* opcional: quita bordes si lo ves mejor visualmente */
  color: aliceblue; /* opcional: mejora contraste si el fondo es oscuro */
}
.modal-body {
  background: linear-gradient(to right, rgba(144, 197, 90, 0.2), rgba(255, 241, 75, 0.2)), #000000cc;
  color: aliceblue; /* si quieres que el texto sea blanco para mayor contraste 6060d6  */
}
.modal-footer {
  border-top: none;
  background-color: #1E1E1E;
}
.btn-outline-dark{
  background-color: #6060d6;
  color: aliceblue;
}
.footer-con-imagen {
  position: relative;
  height: 60px; /* Ajusta según el tamaño de la imagen */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #1E1E1E; /* Opcional, o transparente */
}

.footer-con-imagen img {
  height: 185%;
  object-fit: contain;
}